<!-- <div class="container-fluid bg-dark text-white">
    <div class="row my-5">
        <div class="col-3 mt-4">
            <h5>Kurumsal</h5>
            <ul style="list-style: none;">
                <li><a href="#" class="text-decoration-none text-white">Hakkımızda</a></li>
                <li><a href="#">Müşteri Hizmetleri</a></li>
                <li><a href="#">Gizlilik Bildirimi</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">Kişisel Verilerin Korunması</a></li>
            </ul>
        </div>
        <div class="col-3 mt-4">
            <h5>Yardım</h5>
            <ul>
                <li><a href="#">SSS</a></li>
                <li><a href="#">İptal, İade, Değişim</a></li>
                <li><a href="#">Nasıl Bilet Alınır</a></li>
                <li><a href="#">Biletinizi mi Kaybettniz?</a></li>
            </ul>
        </div>
        <div class="col-3 mt-4">
            <h5>Bizimle Çalışın</h5>
            <a href="#">İş Başvurusu</a>
        </div>
        <div class="col-3 mt-4">
            <ul>
                <li>Tel:<a href="#">+90 085 555 55 55</a></li>
                <li>Fax: <a href="#">+90 212 999 99 99</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="text-center text-warning">&#169; Tüm Haklar Saklıdır - 2023</p>
    </div>
</div>
 -->


 <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
          <a class="navbar-brand" href="#">
            <span class="me-2 text-dark fs-3" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> CINEMAXION</span>
          </a>
        <p class="text-muted">&copy; 2023</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Institutional</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Customer Services</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Personal Data Protection</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Help</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SSS</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cancel, Refund, Change</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How to buy ticket</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lose your ticket?</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Work with Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Apply Job</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tel: <span class="text-primary">+90 085 555 55 55</span></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Fax: <span class="text-primary">+90 212 999 99 99</span></a></li>
        </ul>
      </div>
    </footer>
    <p class="text-center text-muted">&#169; All Rights Reserved - 2023</p>
  </div>